<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.GoodMapper">
    <resultMap id="goo" type="pojo.Good">
        <!-- 配置1对1的关系  select查询 workCard这个对象的值来自于一个查询-->
        <!--<association property="workCard" column="id" select="day.day22.mapper.WorkCardMapper.findWorkCardByEmpId"></association>-->
        <!--<collection property="taskList" column="id"  select="day.day22.mapper.EmployeeTaskMapper.findEmpTaskByEmpId" fetchType="eager"></collection>-->
    </resultMap>
    <select id="findGoodById" resultMap="goo">
        select *
        from t_role
        <where>
            <choose>
                <when test="goodName!=null and goodName!=''">
                    <bind name="goodName_pattern" value="'%'+goodName+'%'"></bind>
                    and good_name like #{goodName_pattern}
                </when>
                <when test="rn!=null and rn!=''">
                    and role_name=#{rn}
                </when>
                <otherwise>
                    and note is not null
                </otherwise>

            </choose>
        </where>
    </select>
</mapper>