.slide_show {
    width: 100%;
    height: 550px;
}

.slide_show img {
    width: 100%;
    height: 100%;
}

.img_show {
    text-align: center;
}

.slide_show1 {
    background: url("../../img/img2.jpg") no-repeat;

}


/*商品列表最大框*/
.goods_show {
    margin: auto;
    width: 1200px;
    height: 600px;
    margin-top: 30px;
}

.goods_show_frame {
    width: 1200px;
    height: 550px;
}

/*导航栏*/
.goods_show_nav {
    width: 1200px;
    height: 38px;
    line-height: 38px;
    padding-top: 7px;
    border-bottom: 3px solid #e51e13;
}

.goods_show:hover {
    box-shadow: 1px 5px 5px 1px #cccccc;
}

.goods_show_nav_img1 {
    display: block;
    float: left;
    width: 40px;
    height: 36px;
}

.goods_show_nav_img2 {
    display: block;
    float: left;
    line-height: 38px;
    height: 38px;
    width: 385px;
}

.goods_show_nav_ul {
    float: left;
    height: 38px;
    line-height: 38px;
    color: black;
    list-style: none;
    background-color: #e51e13;
}

.goods_show_nav_ul li {
    display: block;
    float: left;
    color: #999999;
    height: 38px;
    background-color: white;
}

.goods_show_nav_ul_li:hover {
    background-color: #e51e13;
}

.goods_show_nav_ul li:hover a {
    color: white;
    height: 38px;
}

.goods_show_nav_ul a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    padding: 0px 14px;
    display: block;
    float: left;
}

.main_left {
    width: 425px;
    height: 548px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    float: left;
}

.main_left_img {
    width: 425px;
    height: 548px;
    position: absolute;
    z-index: 2;
}

.main_left_div {
    width: 425px;
    height: 548px;
    position: absolute;
    background-color: #fff;;
    text-align: center;
    opacity: 0.7;
    z-index: 10;
    filter: alpha(opacity=40);
    display: none;
    line-height: 548px;
    text-align: center;

}

.main_left_img:hover + .main_left_div {
    display: block;
}

.main_left_div:hover {
    display: block;
}

.main_left_div_button {
    border: 1px solid red;
    background: rgb(255, 255, 255);;
    color: black;
    width: 120px;
    height: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: auto;
}

.main_left_div_button:hover {
    background-color: red;
    color: #999999;
}

.main_right {
    width: 770px;
    height: 540px;
    float: right;
}

.goods img {
    height: 200px;
    width: 200px;
    margin-top: 5px;
}

.goods_info {
    display: block;
    height: 22px;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    width: 200px;
    margin: auto;
}

.goods_price {
    text-align: center;
    display: block;
    font-size: 16px;
    color: #e51e13;
}

/* Float Shadow */
.goods {
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
}

.goods:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.goods:hover, .goods:focus, .goods:active {
    transform: translateY(-5px);
}

.goods:hover:before, .goods:focus:before, .goods:active:before {
    opacity: 1;
    transform: translateY(5px);
}
.footer{
    width: 100%;
    margin-top: 150px;
    position: relative;
}
.footer img{
    width: 100%;
    position: relative;
}