<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../img/icon.ico"/>
    <title>时令果惠</title>
    <!--    清除样式CSS-->
    <link rel='stylesheet' href='../../css/style.css' type='text/css'/>
    <!--    外部模板样式-->
    <link rel='stylesheet' href='../../css/global.css' type='text/css'/>
    <link rel="stylesheet" href="../css/main.css" type="text/css"/>
</head>
<body>
<div class="wrap">
    <!--    顶部所有信息，注意所有class别与顶部信息重叠-->
    <div class="header">
        <div class="login_bar">
            <ul>
                <li>
                    <img alt="" src="../../img/common/login_icon.jpg"><a href="#">请登录</a>
                </li>
                <li>
                    <img alt="" src="../../img/common/register_icon.jpg"><a href="#">免费注册</a>
                </li>
                <li>
                    <img alt="" src="../../img/common/order_icon.jpg"><a href="#">我的订单</a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="header_main">
            <form action="" class="parent">
                <input type="text" class="search" placeholder="搜索">
                <input type="button" name="" id="" class="search_button">
            </form>
            <a href="#"><img alt="" src="../../img/s_03.png" id="logo"></a>
            <div class="header_nav">
                <ul>
                    <li><a href="#" name="首 页">HOME</a></li>
                    <li><a href="#" name="闪购促销">SALES</a>
                    </li>
                    <li><a href="#" name="最新活动">ACTIVITY</a>
                    </li>
                    <li><a href="#" name="申请试吃">TASTE</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr id="header_hr">
    </div>
    <div class="main">
        <!--        次级导航同上注意-->
        <div class="main_nav">
            <ul>
                <li id="main_nav_goods_nav" style="width: 200px;height: 40px;margin-left: 15%;"><a href="#">全部商品分类 ❤</a>
                </li>
                <li class="main_nav_li"><a href="#">首页</a></li>
                <li class="main_nav_li" style="width: 200px;"><a href="#">闪购促销</a>
                </li>
                <li class="main_nav_li" style="width: 130px;"><a href="#">最新活动</a>
                </li>
                <li class="main_nav_li" style="width: 150px;"><a href="#">申请试吃</a>
                </li>
            </ul>
        </div>
        <div id="main_sub_nav" style="display: none">
            <ul class="cat">
                <li>
                    <span class="ct_in" style="background-position: 0 0;"></span>
                    <span class="ct_tit">专利分格</span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv"></div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -29px;"></span>
                    <span class="ct_tit">彩虹果杯</span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv"></div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -58px;"></span>
                    <span class="ct_tit">进口水果</span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv"></div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -87px;"></span>
                    <span class="ct_tit">国产水果</span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv"></div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -116px;"></span>
                    <span class="ct_tit">特别定制</span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv"></div>
                </li>
                <li>
                    <span class="ct_in" style="background-position: 0 -145px;"></span>
                    <span class="ct_tit">创意果切</span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv"></div>
                </li>

                <li>
                    <span class="ct_in" style="background-position: 0 -174px;"></span>
                    <span class="ct_tit">中秋月饼</span>
                    <span class="ct_yb">></span>
                    <div class="ct_dv"></div>
                </li>
            </ul>

        </div>
        <div class="slide_show">
            <img alt="" id="img1" src="../../img/img1.jpg" style="display: none"/>
            <img alt="" id="img2" src="../../img/img2.jpg" style="display: none"/>
            <img alt="" id="img3" src="../../img/img3.jpg" style="display: none"/>
            <img alt="" id="img4" src="../../img/img4.jpg" style="display: block"/>
        </div>
        <div class="img_show">
            <img alt="" src="../../img/index_ad.jpg"/>
            <div>
                <img alt="" style="width:25%;;" src="../../img/index_ad1.jpg"/>
                <img alt="" style="width:25%;margin-left: 10px;" src="../../img/index_ad2.jpg"/>
                <img alt="" style="width:25%;margin-left: 10px;" src="../../img/index_ad3.jpg"/>
            </div>
        </div>
        <div class="goods_all_show">

        </div>
    </div>
    <div class="footer">
        <img alt="" src="../../img/foot_logo.jpg"/>
    </div>
</div>
</body>
<script src="../../jquery/jquery-3.4.1.js"></script>
<script src="../../js/global.js"></script>
<script src="../js/goods.js"></script>
<script src="../js/main.js"></script>


</html>